:root {
    --background-image: url("https://i.pinimg.com/originals/a0/7e/bb/a07ebbe75bed6cba7fbd638dc37278e4.png");
    --font-color: black !important;
    --link-color: cornflowerblue ;
    --background-color:rgb(10, 30, 95);
    --box-color: rgba(74, 74, 74, 0.5) !important;    
  }

  [data-theme="dark"] {
    --background-image: url("https://wallpapercave.com/wp/wp3328590.jpg");
    --font-color: white !important;
    --text-primary: white !important;  
    --background-color: rgb(37, 24, 37);   
    --font-primary: white;
    --text-secondary: lightblue;   
    --box-color: rgba(74, 74, 74, 0.5) !important;    
    --text-secondary: lightblue !important;
    
   
  }


  body {
    background-image: var(--background-image);
    color: var(--font-color);
    background-color: var(--background-color) !important;
    padding: var(--background-color) !important;
    color: var(--font-color) !important;
  }

  .boxt{
    margin-top: 8;    
    display: 'flex';
    flex-direction: 'column';
    align-Items: 'center';
    background-color: '#4A4A4A99';       
    box-shadow: 10px 10px 4px rgba 0, 0, 0, .400
  }

  #nav{
    background-color: var(--background-color);

  }

  label{
    color: var(--font-color) !important;
    z-index: 1;
  }

  input{
        background-color: var(--box-color) !important;
        color: var(--font-color) !important;
  }

  a {
    color: var(--link-color);
    color: var(--link-color) !important;
  }

  /* Custom Dark Mode Toggle Element */
  .toggle-theme-wrapper {
    flex-direction: row;
    align-items: center;
    gap: 4px;
  }

  .toggle-theme-wrapper span {
    font-size: 18px;
  }

  .toggle-theme {
    position: relative;
    display: inline-block;
    height: 18px;
    width: 40px;
  }

  .toggle-theme input {
    display: none;
  }

  .slider {
    background-color: #ccc;
    position: absolute;
    cursor: pointer;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition: 0.2s;
  }

  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 10px;
    left: 2px;
    position: absolute;
    transition: 0.4s;
    width: 10px;
  }

  input:checked + .slider:before {
    transform: translateX(26px);
  }

  input:checked + .slider {
    background-color: cornflowerblue;
  }

  .slider.round {
    border-radius: 10px;
  }

  .slider.round:before {
    border-radius: 100%;
}